{{#contentFor 'head'}}
  <link rel="stylesheet" href="/css/theme.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Luckiest+Guy" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/rome.css">

  <script src='/js/moment.min.js'></script>
  <script src='/js/rome.js'></script>
{{/contentFor}}

<div class="col-md-6 mx-auto">
  <div class="card-body card">
    <h3>
      <a class="btn" style='float:right' href="/events" title='Close'><i class="fa fa-close"></i> </a>
      Add Booking
    </h3>

    <form action="/events" method="post">

      {{> _book }}

      <button class="btn btn-primary">Save</button>
    </form>
  </div>
</div>

{{#contentFor "foot"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script>
    rome(start);
    rome(end);
  </script>
{{/contentFor}}
