{{#contentFor 'head'}}
  <link rel="stylesheet" href="/css/theme.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Luckiest+Guy" rel="stylesheet">

  <link href='/css/fullcalendar.min.css' rel='stylesheet' />
  <link href='/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <script src='/js/moment.min.js'></script>
  <script src='/js/jquery.min.js'></script>
  <script src='/js/fullcalendar.min.js'></script>
  <script src='/js/gcal.js'></script>

  <link rel="stylesheet" href="/css/style.css">
  <script language="javascript" src="/js/main.js"></script>

{{/contentFor}}

<div class="col-md-10 mx-auto">
  <div class="card">
      <div class="card-body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

{{#contentFor "foot"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script>

    $(document).ready(function() {

      var Appointments = {
        events: [
          {{#each appointments}}
            {
              title: '{{{title}}}',
              start: '{{start}}',
              url: '/edit/event/{{id}}'
            },
          {{/each}}
        ],
        color: 'orange',   // an option!
        textColor: 'aliceblue' // an option!
      }

      var Lessons = {
        events: [
          {{#each lessons}}
            {
              title: '{{{title}}}',
              start: '{{start}}',
              {{#if end}} end : '{{end}}', {{/if}}
              url: '/edit/event/{{id}}'
            },
          {{/each}}
        ],
        color: 'green',   // an option!
        textColor: 'aliceblue' // an option!
      }

      var Reminders = {
        events: [
          {{#each reminders}}
            {
              title: '{{{title}}}',
              start: '{{start}}',
              url: '/edit/event/{{id}}'
            },
          {{/each}}
        ],
        color: 'tomato',   // an option!
        textColor: 'white' // an option!
      }

      $('#calendar').fullCalendar({
        themeSystem: 'bootstrap4',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'listDay,listWeek,month'
        },
        views: {
          listDay: { buttonText: 'day' },
          listWeek: { buttonText: 'week' }
        },
        defaultView: 'listDay',
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: Lessons
      });

      $('#calendar').fullCalendar('addEventSource', Appointments);
      $('#calendar').fullCalendar('addEventSource', Reminders);
      $('#calendar').fullCalendar('addEventSource', {
        googleCalendarApiKey: 'AIzaSyCzMRSP6JdBnC5ytnbD83spI8b7RKP7Q5w',
        googleCalendarId: 'en.uk#holiday@group.v.calendar.google.com',
        color: 'darkslategray',   // an option!
      });
      $('#calendar').fullCalendar('addEventSource', {
        googleCalendarApiKey: 'AIzaSyCzMRSP6JdBnC5ytnbD83spI8b7RKP7Q5w',
        googleCalendarId: 'io90mals3ftdvf9fe34htbm050@group.calendar.google.com',
        color: 'grey',   // an option!
      });

    });

  </script>
{{/contentFor}}
