<script src="https://checkout.stripe.com/checkout.js"></script>

<div class="jumbotron" style="text-align:center">
  <h2 class="brand">Checkout</h2>
  <h1 class="blue-grey brand">Book your lesson</h1>
  <p class="lead">
    <div id="shop">
      <button id="buttonCheckout">Pay Now</button>
    </div>
  </p>
</div>

<script>
  var checkoutHandler = StripeCheckout.configure({
    key: "pk_test_6pRNASCoBOKtIshFeQd4XMUh",
    locale: "auto"
  });

  var button = document.getElementById("buttonCheckout");
  button.addEventListener("click", function(ev) {
    checkoutHandler.open({
      name: "Wapley Riding School",
      description: "Riding Lessons",
      token: handleToken
    });
  });

  function handleToken(token) {
    fetch("/charge", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(token)
    })
    .then(response => {
      if (!response.ok)
        throw response;
      return response.json();
    })
    .then(output => {
      console.log("Purchase succeeded:", output);
    })
    .catch(err => {
      console.log("Purchase failed:", err);
    })
  }
</script>
