<div class="form-group">
    <label for="title">Name(s)</label>
    <input type="text" class="form-control" name="title" value="{{ event.title }}" >
</div>

<div class="form-group">
    <input type="hidden" class="form-control" name="type" value="{{ event.type }}" >
</div>

{{#if isLesson }}
<div class="form-group">
    <label for="level">Instructor</label>
    <select class="form-control" name="instructor" required>
      <option hidden="hidden" value="{{event.instructor}}" selected="selected">{{event.instructor}}</option>
      <option>Antonia</option>
      <option>Kat</option>
      <option>Kelly</option>
      <option>Lucy</option>
      <option>Phoebe</option>
      <option>Semira</option>
    </select>
</div>

<div class="form-group">
    <label for="level">Location</label>
    <select class="form-control" name="location" required>
      <option hidden="hidden" value="{{event.location}}" selected="selected">{{event.location}}</option>
      <option>Main school</option>
      <option>Back school</option>
      <option>Indoor school</option>
      <option>Gallops</option>
      <option>Paddock</option>
      <option>Hack</option>
      <option>Yard</option>
    </select>
</div>
{{/if}}

<div class="form-group">
  <label for="title">From</label>
  <input id='start' class="input form-control" name="start" value="{{event.start}}" required >
</div>
<div class="form-group">
  <label for="title">Until</label>
  <input id='end' class="input form-control" name="end" value="{{event.end}}">
</div>
