<header>
  <div class="backdrop"></div>
  <nav class="navbar navbar-expand-sm navbar-dark mb-3">
    <a class="navbar-brand brand" href="/#">WAPLEY STABLES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Bookings </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/events">Bookings</a>
            <a class="dropdown-item" href="/add/event">Add booking</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ponies </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/ponies">Ponies</a>
            <a class="dropdown-item" href="/add/pony">Add pony</a>
          </div>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a href="/profile" class="nav-link">{{ user.name }}</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
        {{else}}
          <li class="nav-item">
            <a href="/users/register" class="nav-link">Join</a>
          </li>
          <li class="nav-item">
            <a href="/users/login" class="nav-link">Login</a>
          </li>
          {{/if}}
      </ul>
   </div>
  </nav>
</header>
