      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" value="{{pony.name}}" required >
      </div>
      <div class="form-group">
          <label for="breed">Breed</label>
          <input type="text" class="form-control" name="breed" value="{{pony.breed}}" required >
      </div>
      <div class="form-group">
          <label for="details">Bio</label>
          <textarea name="details" class="form-control" required >{{pony.details}}</textarea>
      </div>
      <div class="form-group">
          <label for="level">Level</label>
          <select class="form-control" name="level" required>
            <option hidden="hidden" value="{{pony.level}}" selected="selected">{{pony.level}}</option>
            <option>Beginner</option>
            <option>Novice</option>
            <option>Intermediate</option>
            <option>Advanced</option>
          </select>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" name="age" value="{{pony.age}}" required >
      </div>
      <div class="form-group">
        <label for="sex">Sex</label>
        <input type="text" class="form-control" name="sex" value="{{pony.sex}}" required >
      </div>
      <div class="form-group">
          <label for="size">Size</label>
          <input type="text" class="form-control" name="size" value="{{pony.size}}" required >
      </div>
      <div class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" name="image" value="{{pony.image}}" required >
      </div>
