header {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.alert {
  margin: 25px auto 25px auto;
  max-width: 50%;
}

.centered {
  text-align: center
}

body {
  width: 100wh;
  height: 90vh;
  background: darkslategray;
}

.jumbotron {
  background: aliceblue;
}
.brand {
  font-family: 'Luckiest Guy', cursive;
  color: red;
}

.brand::first-letter {
  font-size: 125%;
}

.main { margin-top: -170px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  background-color: aliceblue;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid > article p {
  min-height: 75px;
}

.text {
  padding: 10px 10px 10px 20px;
}
