<div class="mx-auto col-md-6 ">
  {{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
  {{/each}}

  <div class="card-body card">
    <h3>Change Idea</h3>
    <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
      <input type="hidden" name="_method" value="PUT">
      <div class="form-group">
        <label for="details">Image</label>
        <input type="text" class="form-control" name="image" value="{{idea.image}}" >
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{idea.title}}" required >
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <textarea name="details" class="form-control" required >{{idea.details}}</textarea>
      </div>
      <button class="btn btn-primary">Update Idea</button>
    </form>
  </div>
</div>
