<div class="grid">
  {{#each ideas}}
  <article>
    <img src="/img/{{image}}" alt="Avatar" style="width:100%">
    <div class="text">
      <h4><b>{{title}}</b></h4>
      <p>{{details}}</p>

      <a href="/edit/idea/{{id}}" title='Edit'><i class="fa fa-edit"></i></a>
      <a href="/delete/idea/{{id}}" title='Delete'><i class="fa fa-trash"></i></a>
      <a href="/book" title='Book'><i class="fa fa-credit-card"></i></a>
    </div>
  </article>
  {{else}}
    <div class='jumbotron'>
      <h1 class='brand'>There are no items here currently.</h1>
    </div>
  {{/each}}
</div>
