<div class="card">
  <div class="card-body">
    <pre>
    Wapley Stables offer great birthday celebrations for all ages of children.

    We offer a flexible package to ensure your child enjoys their birthday celebrations whether
    experienced or complete novice riders.

    We can offer you:

    One hour ride and games on the ponies with party bag. £27 per child min of 4 max of 8.
    For an additional £10 per child we can offer ½ hour getting to know the pony and learn how to groom
    them before they ride.

    We can cater for birthday parties all year round.
    </pre>
  </div>
</div>
