<div class="card">
  <div class="card-body">
    
    Wapley Riding Stables is a friendly and professional licensed riding school and livery yard situated near the village of Westerleigh, just off the B4465 towards Codrington.

    The Riding School is run by Lucy Hewlett who is a BHS Al Qualified instructor and assisted by many other experienced grooms and instructors.

    Lucy is an experienced BSJA showjumper and in her teens trained with the British junior eventing team. Lucy has competed at Gatcombe and many other well known venues.

    We teach riders of all levels from complete beginners to experienced riders from four years of age upwards.

    Lucy is also available for freelance teaching on your own horse at your yard or at Wapley Stables.

    We have a vast selection of ponies and horses to suit your individual needs.

    Our excellent facilities include:

    Two Floodlit outdoor arenas
    A small cross country course
    A variety of show jumps
    Ample parking for cars
    Training and room hire facility
    We offer many training courses throughout the year – Please see our training/events page.

    We also offer livery – Please see livery page for more information.

    Fully licensed and insured.

  </div>
</div>
