<div class="jumbotron" style="text-align:center">
  <h1 class="blue-grey brand">WELCOME TO CLUB WAPLEY</h1>
  <p class="lead">Membership is free...register now to book pony lessons with our TOP BHS Qualified Shouties</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/help" role="button">Learn more</a>
  </p>
</div>
