<div class="col-md-6 mx-auto">
  <div class="card-body card">
    <h3>
      <a class="btn pill" style='float:right' href="/ponies" title='Close'><i class="fa fa-close"></i> </a>
      Add Pony
    </h3>
    <form action="/ponies" method="post">

      {{> _pony }}

      <button class="btn btn-primary">Add Pony</button>
    </form>
  </div>
</div>
