<div class="mx-auto col-md-6 ">
  {{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
  {{/each}}

  <div class="card-body card">
    <h3>
      <a class="btn pill" style='float:right' href="/ponies" title='Close'><i class="fa fa-close"></i> </a>
      Change Pony
    </h3>
    <form action="/ponies/{{pony.id}}?_method=PUT" method="post">
      <input type="hidden" name="_method" value="PUT">

      {{> _pony }}

      <button class="btn btn-primary">Update Pony</button>
    </form>
  </div>
</div>
