<div class="grid">

  {{#each ponies}}
  <article>
    <img src="/img/{{image}}" alt="Avatar" style="width:100%">
    <div class="text">
      <h4><b>{{name}}</b></h4>
      <p>{{details}}</p>

      {{#if ../isAdmin }}
        <a href="/edit/pony/{{id}}" title='Edit'><i class="fa fa-edit"></i></a>
        <a href="/delete/pony/{{id}}" title='Delete'><i class="fa fa-trash"></i></a>
      {{/if}}
      <span style='float:right'>
        <a href="/heart" title='Prefer'><i class="fa fa-heart"></i></a>
        <a href="/book" title='Book'><i class="fa fa-credit-card"></i></a>
      </span>

    </div>
  </article>
  {{else}}
    <div class='jumbotron'>
      <h1 class='brand'>No ponies :(</h1>
    </div>
  {{/each}}
</div>
