<div class="col-md-6 mx-auto">
  <div class="card">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted brand centered">MEMBER LOGIN</h6>
      <form action="/users/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" autofocus required value="{{email}}" >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
